# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java/Maven
**/target/
.mvn/wrapper/maven-wrapper.jar

# Python
**/.venv/
**/__pycache__/
*.pyc

# Node/Frontend
**/node_modules/
**/dist/

# Logs
*.log

# Docker
**/.env
